{% extends 'listor/mall.html' %}

{% block innehall %}
    <div class="container py-5">

        <h1>Listor</h1>

        <ul>
            {% for lista in listor%}
            <li>
                <a href="{% url 'lista-sida' lista.id %}">{{lista.list_name}}</a>
            </li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary" href="{% url 'lista-ny' %}">Ny lista</a>

        <form method="POST" action="{% url 'loggaut' %}">
            {% csrf_token %}
            <button class="nav-link" type="submit">Logga ut</button>
        </form>
    </div>
{% endblock innehall %}